
.navbar-nav{
    width: 100%;
    background-color: #293241;
}
div .nav-link{
    width: 100%;
    font-size: 25px; 
    color: #EE6B4D;
}
nav {
    background-color: #293241;
}

.Inicio{
    width: 40%;
    margin: auto;
    margin-top: 100px;
}