div .productoVisual{
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    width: 30vh;
    border-radius: 10px;
    box-shadow: 8px 6px 10px #00000054;
}
div .productoVisual img{
    max-width: 100px;
}